@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap);

body {
    color: #72a5f7;
    font-family: 'Montserrat', sans-serif;
}

#canvas-container {
    position: fixed;
    top: 0pt;
    bottom: 0pt;
    left: 0pt;
    right: 0pt;
    width: 100vw;
    height: 100vh;
}

p {
    margin: 1pt;
    font-weight: 600;
}

#info {
    display: flex;
    flex-direction: column;
    column-gap: 0pt;

    position: fixed;
    left: 10pt;
    top: 10pt;

    width: fit-content;
    height: fit-content;

    background-color: #000000a2;

    padding: 10pt;
    border-radius: 5pt;
}

/* #regen-button {
    font-family: 'Montserrat', sans-serif;

    border: none;
    background-color: #72a5f7;
    color: rgb(22, 22, 22);
    padding: 10pt 20pt;
    border-radius: 5pt;

    position: fixed;
    right: 10pt;
    bottom: 10pt;

    text-anchor: middle;
    text-align: center;
} */

#action-buttons {
    display: flex;
    flex-direction: column;
    gap: 10pt;

    position: fixed;
    right: 10pt;
    bottom: 10pt;

    width: fit-content;
    height: fit-content;

    background-color: #000000a2;

    padding: 10pt;
    border-radius: 5pt;
}

#action-buttons button {
    font-family: 'Montserrat', sans-serif;

    height: 40pt;

    border: none;
    background-color: #72a5f7;
    color: rgb(22, 22, 22);
    padding: 10pt 20pt;
    border-radius: 5pt;

    text-anchor: middle;
    text-align: center;
}

#iscol {
    width: 80pt;
    height: 20pt;
    border-radius: 5pt;
}

#debug-select {
    position: fixed;
    right: 10pt;
    top: 10pt;

    border: none;
    background-color: #72a5f7;
    color: rgb(22, 22, 22);
    padding: 10pt 20pt;
    border-radius: 5pt;

    font-family: 'Montserrat', sans-serif;
}

#sliders {
    position: fixed;
    left: 10pt;
    bottom: 10pt;
    
    display: flex;
    flex-direction: column;

    background-color: #000000a2;

    padding: 10pt;
    border-radius: 5pt;
}

#instructions {
    margin-top: 10pt;
}

h1#score {
    font-family: 'Montserrat', sans-serif;
    background-color: #000000a2;
    padding: 10pt;
    border-radius: 5pt;

    font-size: medium;
    text-align: center;

    position: fixed;
    top: 10pt;
    left: 50%;
    transform: translateX(-50%);
}

h1#dist {
    font-family: 'Montserrat', sans-serif;
    background-color: #000000a2;
    padding: 10pt;
    border-radius: 5pt;

    font-size: medium;
    text-align: center;

    position: fixed;
    bottom: 10pt;
    left: 50%;
    transform: translateX(-50%);
}